<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style/login.css" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Login</title>
</head>

<body>
    <div class="login_wrap">
        <div>
            <div class="login_title">Login</div>
            <div class="input_form">
                <input type="text" id="email_i" value="" size="40" style="height: 30px;" placeholder="email" />
            </div>
            <div class="input_form">
                <input type="password" id="password_i" value="" size="40" style="height: 30px;"
                    placeholder="password" />
            </div>
            <div class="button">
                <div class="form_btn" onclick="login_submit()">로그인</div>
                <div class="form_btn" onclick="modal_open()">회원가입</div>
            </div>
        </div>
        <div id="modal">
            <div class="login_wrap">
                <div class="close_btn" onclick="modal_close()">닫기</div>
                <div>
                    <div class="login_title">Regist</div>
                    <div class="input_form">
                        <input type="text" id="email_j" value="" size="40" style="height: 30px;" placeholder="Eamil" />
                    </div>
                    <div class="input_form">
                        <input type="password" id="password_j" value="" size="40" style="height: 30px;"
                            placeholder="password" />
                    </div>
                    <div class="input_form">
                        <input type="password" id="password_confirm_j" value="" size="40" style="height: 30px;"
                            placeholder="Password Confirm" />
                    </div>
                    <div style="text-align:center;margin-top:20px">
                        <div class="form_btn" style="background: aquamarine;padding:10px 0" onclick="regist_submit()">
                            회원가입</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const login_submit = () => {
            var email = document.getElementById('email_i').value
            var password = document.getElementById('password_i').value
            axios.post('/login', {
                email,
                password
            }).then(res => {
                var key = res.data.key
                alert('로그인 성공!')
                localStorage.setItem('key', key)
                axios.get('/player', {
                    headers: { authorization: `Bearer ${key}` }
                }).then((res) => {
                    window.location = '/player'
                }).catch(err => {
                    console.log(err)
                })
            }).catch(err => {
                alert('이메일 또는 패스워드 불일치')
                console.log(err)
            })
        }
        const modal_open = () => {
            document.getElementById('modal').style.display = 'block'
            document.querySelector('.login_wrap').style.background = 'rgba(0,0,0,0.75)'
        }
        const modal_close = () => {
            document.getElementById('modal').style.display = 'none'
            document.querySelector('.login_wrap').style.background = '#fff'
        }
        const regist_submit = () => {
            var email = document.getElementById('email_j').value
            var password = document.getElementById('password_j').value
            var passwordConfirm = document.getElementById('password_confirm_j').value
            if (email == "") {
                alert('이메일을 입력해주세요')
            } else {
                if (password == "") {
                    alert("패스워드를 입력해주세요")
                } else {
                    if (password !== passwordConfirm) {
                        alert('비밀번호가 일치 하지 않습니다.')
                    } else {
                        axios.post('/register', {
                            email,
                            password
                        }).then(() => {
                            alert('회원가입 완료!')
                            modal_close()
                            location.reload()
                        }).catch(err => {
                            alert(err.response.data.error)
                        })
                    }
                }
            }
        }
    </script>
</body>

</html>